input {
  display: block;
  height: 36px;
  width: 200px;
  font-size: 24px;
}

textarea {
  /* width: 200px;
  height: 200px; */
}
body {
  background-color: salmon;
}
.current-workout {
  background-color: ivory;
  width: 50%;
  margin: 5px;
}
